venv/*
data/uncleaned/*.csv
data/processed/*.csv
data/results/*.csv
data/mapped/*.csv
data/linked/*.csv
data/dump/*
.vscode/*
.ipynb_checkpoints/*
__pycache__
*.pyc
*.pyo
db/*.dat
db/*.bak
db/*.dir
db/*.db


