venv/*
data/uncleaned/*.csv
data/processed/*.csv
data/results/*.csv
data/dump/w2vec_wiki_id_case.trainables.syn1neg.npy
data/dump/w2vec_wiki_id_case.wv.vectors.npy
.vscode/*
.ipynb_checkpoints/*
__pycache__
*.pyc
*.pyo

