bcrypt==3.1.7
boto==2.49.0
boto3==1.9.134
botocore==1.12.134
bz2file==0.98
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==3.2
dateutils==0.6.6
docutils==0.14
elasticsearch==7.8.0
Flask==1.0.2
flask-paginate==0.7.0
gensim==3.7.2
gunicorn==19.9.0
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
numpy==1.20.1
pandas==1.2.3
paramiko==2.7.1
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
rdflib==4.2.2
requests==2.21.0
s3transfer==0.2.0
scipy==1.5.4
six==1.12.0
smart-open==1.8.2
SPARQLWrapper==1.8.2
urllib3==1.24.2
Werkzeug==2.0.1
wget==3.2
