<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
{% extends "layout.html" %}
{% block body %}
<body style="background:#F6F8FA">

<div class="wrapper" style="padding: 24px">
<div class="jumbotron" style="background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
">
    <div class="container">
      <h1 class="display-4" style="color:white">Welcome To OD2WD</h1>
      <p style="color:white">OD2WD is a tool to convert csv file from open data portals into quickstatements file that would be used to republish data to Wikidata</p>
    </div>
</div>
<div class="jumbotron" style="background: white ;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
  <div class="container">
  <h3>Convert Data Now</h3>
  <p class="lead">Upload a csv file to be converted or Input the dataset link on open data sites</p>
  <hr class="my-4">
  <h5>Upload Your Data</h5>
  <p> Upload Open Data CSV File Manually </p>
  <form action = "{{parent_link}}/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <div class="row col-md-12"><input type = "file" name = "file" /></div><br>
        <div class="row col-md-12"><input class="btn btn-primary" type = "submit"/></div>
     </form>
  <hr class="my-4">
  <h5>Input The Dataset Link</h5>
  <p>Input the dataset link from open data sites</p>
  <form action = "{{parent_link}}/url-upload" method="POST" enctype = "multipart/form-data">
    <div class="row col-md-12"><input type="text" name="url"></div><br>
    <div class="row col-md-12"><input class="btn btn-primary" type = "submit"/></div>
</form>
	  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
	</div>
</div>
  <div class="jumbotron" style="background: white ;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
      <h5 >Data Catalogue</h5>
      <p class="lead">Files that have been uploaded to OD2WD System</p>
      <hr class="my-4">
      <table class="table table-bordered">
        <tr>
          <th>Job Name</th>
          <th>Upload Date</th>
        </tr>
        {% for job, time in file_catalogue %}
        <tr>
          <td>{{job}}</td>
          <td> {{time}}</td>
          <td> <a class = "btn btn-primary" href="{{parent_link}}/job-detail/{{job}}">See Job Detail</a></td>
        </tr>
        {% endfor %}
      </table>
      {{ pagination.info }}
      {{pagination.links}}
  </div>
</div>
</body>
{% endblock %}
