{% extends "layout.html" %}
{% block body %}
<body page="detail">
	<section class="hero">
		<div class="descriptive" layer="detail">
			<h2>Job Detail</h2>
			<p>Job Name : <span>{{procId}}</span></p>
			<a href="/#table">
				<button class="back">
					<i class="fas fa-chevron-left"></i>
					Back
				</button>
			</a>
			<div class="table">
				<table>
					<thead>
						<th>Raw Data</th>
						<th>Cleaned Data</th>
						<th>Metadata Extraction</th>
						<th>Property Mapping</th>
						<th>Entity Linking</th>
						<th>Quickstatement File</th>
					</thead>
					<tbody>
						<tr>
							{% for status_finished in job_status %}
								{% if status_finished %}
									<td>
										<span>Finished</span>
									</td>
								{% else %}
									<td>
										<div class="meta">
											<div class="loader">Loading...</div>
										</div>
									</td>
								{% endif %}
						  	{% endfor %}
						</tr>
						<tr>
							<td>
								{% if job_status[0] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/uncleaned">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>

							<td>
								{% if job_status[1] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/processed">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>

							<td>
								{% if job_status[2] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/processed">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>

							<td>
								{% if job_status[3] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/mapped">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>

							<td>
								{% if job_status[4] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/linked">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>

							<td>
								{% if job_status[5] %}
									<a href="{{parent_link}}/download-detail/{{procId}}/results">
										<button type="button">
											<i class="fas fa-download"></i>
											Download
										</button>
									</a>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								{% if job_status[0] %}
								<button type="button" class="preview" onclick="toggleModal('raw')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
							<td>
								{% if job_status[1] %}
								<button type="button" class="preview" onclick="toggleModal('cleaned')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
							<td>
								{% if job_status[2] %}
								<button type="button" class="preview" onclick="toggleModal('raw')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
							<td>
								{% if job_status[3] %}
								<button type="button" class="preview" onclick="toggleModal('raw')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
							<td>
								{% if job_status[4] %}
								<button type="button" class="preview" onclick="toggleModal('raw')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
							<td>
								{% if job_status[5] %}
								<button type="button" class="preview" onclick="toggleModal('raw')">
									<i class="fas fa-search"></i>
									Preview
								</button>
								{% else %}
									<div class="meta">
										<div class="loader">Loading...</div>
									</div>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="process">
				<ul>	
					<li>
						{% if job_status[0] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
						{% endif %}
					</li>
					<li>
						{% if job_status[1] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
						{% endif %}
					</li>
					<li>
						{% if job_status[2] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
						{% endif %}
					</li>
					<li>
						{% if job_status[3] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
							<p>Mapping preview column will be displayed</p>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
							<p>Mapping preview column will be displayed</p>
						{% endif %}
					</li>
					<li>
						{% if job_status[4] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
						{% endif %}
					</li>
					<li>
						{% if job_status[5] %}
							<div class="step"></div>
							<div class="point">
								<i class="fas fa-check"></i>
							</div>
							<p>
								When the process finished, The Execute Quickstatement button will appear.
							</p>
						{% else %}
							<div class="unstep"></div>
							<div class="point"></div>
							<p>
								When the process finished, The Execute Quickstatement button will appear.
							</p>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>

		{% if job_status[3] %}
		<form action = "{{parent_link}}/choose-column/{{procId}}" method = "POST">
		<div class="descriptive" layer="mapping">
			<h2>Property Mapping Result</h2>
			<div class="table mapping">
				<table>
					<tbody>
						<tr>
							<td>Column Name</td>
							{% for key, value in mapping.items() %}
              					<td> {{ key }} </td>
            				{% endfor %}
						</tr>
						<tr>
							<td>Property Match</td>
							{% for key, value in mapping.items() %}
              					{% if value == "Padanan Tidak Ditemukan" %}
              						<td><span class="matchnf">Match not found</span></td>
              					{% else %}
              						<td id="value"> {{ value }} </td>
             				    {% endif %}
            				{% endfor %}
						</tr>
						<tr>
							<td>Drop Column</td>
							{% for key, value in mapping.items() %}
								{% if "[Protagonist]" in value %}
									<td id="check">
										<div class="checkbox">
											<input type="checkbox" id={{key}} name="dropCol" value="{{key}}">
											<label for={{key}}>{{key}} (Dropping P31-Is property)</label>
										</div>
									</td>
       							{% elif "[Protagonist-Column]" in value %}
								{% else %}
									<td id="check">
										<div class="checkbox">
											<input type="checkbox" id={{key}} name="dropCol" value="{{key}}">
											<label for={{key}}>{{key}}</label>
										</div>
									</td>
        						{% endif %}
        					{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
			<div class="action">
				<p>
				   By clicking the <span>Drop Columns</span> button, the selected column 
				   will be dropped from the conversion process.
				</p>
				<a>
					<button type="submit">Drop Column(s)</button>
				</a>
			</div>
			{% if job_status[5] %}
			<div class="action">
				<p>
				   By clicking the <span>Execute QS</span> button, the converted file will be published into Wikidata 
				   using Quickstatement tool. This Execute process makes use of the mapping and linking
				   results and generate a Quickstatements serialization.
				</p>
				<a href="{{publish_url}}">
					<button type="button">Execute QS</button>
				</a>
			</div>
			{% endif %}
		</div>
		</form>
		{% endif %}

		<div class="descriptive" layer="raw" id="raw">
			<div class="background" onclick="toggleModal('raw')"></div>
			<div class="modal">
				<h2>Raw Data</h2>
				<div class="table">
					{{dataPreviews[0]|safe}}
				</div>
				<div class="close">
					<button onclick="toggleModal('raw')">Close Preview</button>
				</div>
			</div>
		</div>
		<div class="descriptive" layer="raw" id="cleaned">
			<div class="background" onclick="toggleModal('cleaned')"></div>
			<div class="modal">
				<h2>Cleaned Data</h2>
				<div class="table">
					{{dataPreviews[1]|safe}}
				</div>
				<div class="close">
					<button onclick="toggleModal('cleaned')">Close Preview</button>
				</div>
			</div>
		</div>
	</section>
	<script src="/static/staging/script/script.js"></script>
</body>
{% endblock %}