<!doctype html>
<title>OD2WD</title>
<head>
  <!-- <link rel="shortcut icon" type="image/png" href="/static/image/od2wd-logo.png"/> -->
</head>
<!-- #80D0C7 -->
<nav class="navbar navbar-expand-lg navbar-light" style="background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff, #80D0C7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff, #80D0C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <a class="navbar-brand" href="http://od2wd.id">
    <!-- <img src="/static/image/od2wd-logo-blue.png" width="50" height="30" class="d-inline-block align-top" alt=""> -->
  OD2WD </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://od2wd.id" style="color: black">Home <span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://od2wd.id" style="color: black">About<span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
  </div>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <strong>STATUS BAR</strong>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}