<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/staging/static/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/staging/static/assets/css/custom.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
	<title>OD2WD</title>
</head>
<nav>
	<div class="descriptive" layer="logo">
		<div class="media">
			<a href="/">
				<img src="/staging/static/img/brand/white.png" alt="od2wd" id="white"/>
			</a>
			<a href="/">
				<img src="/staging/static/img/brand/blue.png" alt="od2wd" id="blue"/>
			</a>
		</div>
	</div>
	<div class="descriptive" layer="toggle">
		<button onclick="toggleNav()">
			<i id="button" class="fas fa-ellipsis-v"></i>
		</button>
	</div>
	<div class="descriptive" layer="menu">
		<ul id="nav" class="">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="https://od2wd.id/api/" target="_blank">
					API
				</a>
			</li>
			<li onmouseover="toggleSubmenu()" onmouseout="toggleSubmenu()">
				<a>Repository</a>
				<ul id="submenu">
					<li>
						<a href="https://github.com/muhammadfaiz12/od2wd" target="_blank">
							Web
						</a>
					</li>
					<li>
						<a href="https://github.com/gibranmfw/od2wd_api" target="_blank">
							API
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a onclick="toSection('table')">Data Catalogue</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/publication/od2wd_paper.pdf" download>
					<i class="fas fa-download"></i>
					Paper
				</a>
			</li>
			<li>
				<button class="icon" onclick="toSection('form')">
					<i class="fas fa-file"></i>
					Convert Data
				</button>
			</li>
		</ul>
	</div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="notif" class="notification" onclick="notification()">
	<div class="alert">
		<h2>Error Messages</h2>
		<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endif %}
{% endwith %}
{% block body %}{% endblock %}
</html>