<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
{% extends "layout.html" %}
{% block body %}
<body style="background:#F6F8FA">
	<div class="container" style="background: white;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); margin-top:20px; margin-bottom: 15px">
    <h1>Mapping Preview</h1>
    <div class="container" style="padding-bottom: 20px">
     <table class="table table-bordered" >
           <tr>
            <th>Column Name</th>
            {% for key, value in mapping.items() %}
              <td> {{ key }} </td>
            {% endfor %}
           </tr>
           <tr>
             <th>Property Match</th>
             {% for key, value in mapping.items() %}
              {% if value == "Padanan Tidak Ditemukan" %}
              <td style="color:white;background-color: red"> Match Not Found </td>
              {% else %}
              <td> {{ value }} </td>
              {% endif %}
            {% endfor %}
           </tr>
           <tr>
            <th>Sample Row</th>
            {% for x in sample_info %}
            <td>{{x}}</td>
            {% endfor %}
           </tr>
     </table>
     <p> *Column that does not have a property match , would not be included in further conversion steps</p> 
     <p> ** Press the "Create Quickstatement From This Document" Button below to continue</p> 
    <a class='btn btn-warning' href="{{parent_link}}/createQS/{{procId}}">Create Quickstatement From This Document</a>
    </div>
</div>
</body>
{% endblock %}