<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
{% extends "layout.html" %}
{% block body %}
<body style="background:#F6F8FA">
	<div class="container" style="background: white;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); margin-top:20px; margin-bottom: 15px">
	    <h1>Data Preview</h1>
	    <div class="container" style="padding-bottom: 20px">
	    	{{data | safe }}
			<a class='btn btn-warning' href="{{parent_link}}/previewMap/{{procId}}">Map this document</a>
		</div>
	</div>
</body>
{% endblock %}