{% extends "layout.html" %}
{% block body %}
<body page="preview">
	<section class="hero">
		<div class="descriptive" layer="background">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>
		<div class="descriptive" layer="table">
			<h1>Data Preview</h1>
			<p>Job Name : <span>{{ procId }}</span></p>
			<a href="/#table">
				<button class="back">
					<i class="fas fa-chevron-left"></i>
					Back
				</button>
			</a>
			<form action="/form-metadata" method="POST">
				<div class="group">
					<label class="read" id="label_title">Title</label>
					<input 
						type        = "text" 
						placeholder = "title" 
						name        = "title"
						id          = "input_title"
						readonly
					/>
					<input 
						type        = "hidden" 
						placeholder = "jobid" 
						name        = "job_id"
						value       = "{{procId}}" 
					/>
				</div>
				<div class="group">
					<label class="read" id="label_url">URL</label>
					<input
						type        = "text" 
						placeholder = "url" 
						name        = "url"
						id          = "input_url"
						readonly
					/>
				</div>
				<div class="group">
					<label class="read" id="label_tag">Tags</label>
					<input 
						type        = "text" 
						placeholder = "tags" 
						name        = "tags" 
						id          = "input_tag"
						readonly
					/>
				</div>
				<div class="group">
					<label class="read" id="label_desc">Short Description</label>
					<textarea 
						placeholder = "short description" 
						rows        = "5" 
						name        = "description" 
						id          = "input_desc"
						readonly
					></textarea>
				</div>
				<div class="action">
					<div class="checkbox">
						<input type="checkbox" id="update" onclick="toggleUpdateData()">
						<label for="update">Update file data</label>
					</div>
					<button id="submit" type="submit" disabled>submit</button>
				</div>
			</form>
			<div class="table">
				{{data | safe }}
			</div>
			<div class="action">
				<p>
					The conversion process will extract RDF 
					triples from the document and then map the header and link the cells value to Wikidata.
				</p>
				<a href="{{parent_link}}/job-detail/{{procId}}">
					<button>
						Start Conversion Process
					</button>
				</a>
			</div>
		</div>
	</section>
	<script src="/static/script/script.js"></script>
</body>
{% endblock %}